<div class=" p-2.5 w-[1100px] max-w-full">
  @if (loading()) {
    <div class="flex items-center justify-center w-full h-full">
      <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
      </svg>
    </div>

  } @else {
    <form [formGroup]="userForm">
      <div class="border border-[#eef0f4] rounded-[10px] shadow-[0_1px_2px_rgba(16,24,40,0.04)] py-6 px-7 mb-5">
        <div class="section-title flex">
          <span class="section-badge">1</span>
          <h2 class="m-0">User Information</h2>
        </div>

        <div class="field-grid">
          <div class="field">
            <label for="fullName">Full Name:</label>
            <input formControlName="fullName" pInputText placeholder="Enter Full Name" type="text"/>
          </div>
          <div class="field">
            <label for="role">Role</label>
            <p-select id="role" class="w-full" [options]="role"
                      optionLabel="name" optionValue="value" placeholder="Select Role" formControlName="role"/>
          </div>
          <div class="field">
            <label for="email">Email:</label>
            <input formControlName="email" pInputText placeholder="Enter Email" type="text"/>
          </div>
          <div class="field">
            <label for="password">Password:</label>
            <input formControlName="password" pInputText placeholder="Enter password" type="text"/>
          </div>
        </div>

      </div>
      <div class="submit-container">
        <p-button (click)="onSubmit()" label="{{ isEditing ? 'Edit' : 'Add' }}" icon="pi pi-user"
                  styleClass="w-full mx-auto" [disabled]="userForm.invalid"/>
      </div>

    </form>
  }

</div>
