::ng-deep .addBtn {
  background-color: rgb(52 122 213 / 0.4);
  border-radius: 4px;

  .p-button-outlined {
    color: #fff;


    &:hover {
      background: rgb(239 230 232 / 0.4);
      color: black;
    }

  }
}
