<div class=" p-2.5 w-[1100px] max-w-full">
  @if (loading()) {
    <div class="flex items-center justify-center w-full h-full">
      <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
      </svg>
    </div>

  } @else {
    <form [formGroup]="attendanceForm" (ngSubmit)="onSubmit()">
      <div class="border border-[#eef0f4] rounded-[10px] shadow-[0_1px_2px_rgba(16,24,40,0.04)] py-6 px-7 mb-5">

        <div class="field-grid">
          <div class="field">
            <label for="classId">Class:</label>
            <p-select appendTo="body" [loading]="loadingList()" [options]="classes" optionLabel="className" optionValue="classId"
                      placeholder="Select Class" formControlName="classId" (onChange)="onClassChange($event.value)"></p-select>
          </div>
          <div class="field">
            <label for="studentId"> Student:</label>
            <p-select appendTo="body" [loading]="loadingList()" [options]="students" optionLabel="fullName" optionValue="userId"
                      [placeholder]="students.length ? 'Select Student' : 'Select a class first'" formControlName="studentId"
                      [disabled]="!attendanceForm.get('classId')?.value"></p-select>
<!--                  this disables the student select if no class is selected-->
          </div>
          <div class="field">
            <label for="date">Attendance Date<span class="required">*</span>:</label>
            <p-datePicker appendTo="body" formControlName="date" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy" class="datePicker"/>
          </div>
          <div class="field">
            <label for="status">Status:</label>
            <p-select appendTo="body" [options]="statusOptions" optionLabel="label" optionValue="value" placeholder="Select Status"
                      formControlName="status"/>
          </div>
        </div>
      </div>

      <div class="mark-attendance-action flex">
        <p-button [outlined]="true" [label]="isEditing ? 'Update Attendance' : 'Save Attendance'" icon="pi pi-pencil" [disabled]="attendanceForm.invalid"/>
        <p-button [outlined]="true" label="Cancel" icon="pi pi-times" severity="danger"
                  [routerLink]="['/attendance']"/>
      </div>
    </form>
  }
</div>
