<div class=" p-2.5 w-[1100px] max-w-full">
  @if (loading()) {
    <div class="flex items-center justify-center w-full h-full">
      <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
      </svg>
    </div>

  } @else {
    <form [formGroup]="attendanceForm" (ngSubmit)="onSubmit()">
      <div class="border border-[#eef0f4] rounded-[10px] shadow-[0_1px_2px_rgba(16,24,40,0.04)] py-6 px-7 mb-5">

        <div class="field-grid">
          <div class="field">
            <label for="classId">Class:</label>
            <p-select appendTo="body" [loading]="loadingClass()" [options]="classes" optionLabel="className"
                      optionValue="id"
                      placeholder="Select Class" formControlName="classId"
                      (onChange)="onClassChange($event.value)"></p-select>
          </div>
          <div class="field">
            <label for="date">Attendance Date<span class="required">*</span>:</label>
            <p-datePicker
              appendTo="body"
              id="date"
              [formControl]="attendanceForm.controls.date"
              [style]="{ width: '100%' }"
              placeholder="Select date"
              [showIcon]="true"
              dateFormat="yy-mm-dd"
              [disabled]="dateDisabled" />
          </div>
        </div>
      </div>


      @if (students){
        <div class="studentAttendance-list">
          <app-table
            key="student"
            [data]="students"
            [config]="tableConfig"
            [loading]="loadingStudents()"
            />
        </div>
      }

      <div class="mark-attendance-action flex">
        <p-button [loading]="submitLoading()" [outlined]="true"
                  [label]="isEditing ? 'Update Attendance' : 'Save Attendance'" icon="pi pi-pencil"
                  [disabled]="attendanceForm.invalid" />
        <p-button [outlined]="true" label="Cancel" icon="pi pi-times" severity="danger"
                  (onClick)="cancel()" />
      </div>
    </form>
  }
</div>
