<div class="student-form-container">
  <div class="form-header">
    <h1>{{ isEditing ? 'Edit' : 'Add' }} Student</h1>
    <p>{{ isEditing ? 'Update Student Detail' : 'Add Student Detail' }}</p>
  </div>

  <div class="student-card">
    <div class="card-title">Student Information</div>
    <form [formGroup]="studentForm">
      <div class="basic-information">
        <div> Basic Information</div>
        <div class="">
          <label for="fullName">Full Name:</label>
          <input formControlName="fullName" pInputText placeholder="Enter Full Name" type="text"/>
        </div>
        <div class="">
          <label for="registrationNumber">Registration Number:</label>
          <input formControlName="registrationNumber" pInputText placeholder="Enter Registration Number" type="number"/>
        </div>
        <div class="">
          <label for="dateOfAdmission">Date of Admission<span class="required">*</span>:</label>
          <p-datePicker formControlName="dateOfAdmission" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy" class="datePicker"/>
        </div>
      </div>

      <div class="other-information">
        <div> Other Information</div>
        <div class="">
          <label for="email">Email:</label>
          <input formControlName="email" pInputText placeholder="Enter email" type="text"/>
        </div>
        <div class="">
          <label for="dob">Date of Birth<span class="required">*</span>:</label>
          <p-datePicker formControlName="dob" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy" class="datePicker"/>
        </div>
        <div class="">
          <label for="gender">Gender</label>
          <p-select class="w-full md:w-56" [options]="gender"
                    optionLabel="name" optionValue="value" placeholder="Select Gender" formControlName="gender"/>
        </div>
        <div class="">
          <label for="address">Address:</label>
          <input formControlName="address" pInputText placeholder="Enter address" type="text"/>
        </div>
        <div class="">
          <label for="phone">Phone Number:</label>
          <input formControlName="phone" pInputText placeholder="Enter contact number" type="number"/>
        </div>
        <div class="">
          <label for="bloodGroup">Blood Group</label>
          <p-select class="w-full md:w-56" [options]="bloodGroup"
                    optionLabel="name" optionValue="value" placeholder="Select Gender" formControlName="bloodGroup"/>
        </div>
        <div class="">
          <label for="orphanStudent">Orphan Student</label>
          <p-select class="w-full md:w-56" [options]="orphanStudent"
                    optionLabel="name" optionValue="value" placeholder="Select Orphan Student or Not" formControlName="orphanStudent"/>
        </div>
        <div class="">
          <label for="religion">Religion</label>
          <p-select class="w-full md:w-56" [options]="religion"
                    optionLabel="name" optionValue="value" placeholder="Select Religion" formControlName="religion"/>
        </div>
      </div>

      <div class="guardian-information">
        <div> Guardian Information</div>
        <div class="">
          <label for="guardian">Guardian</label>
          <p-select class="w-full md:w-56" [options]="guardian"
                    optionLabel="name" optionValue="value" placeholder="Select Guardian" formControlName="guardian"/>
        </div>
        <div class="">
          <label for="guardianName">Guardian Name:</label>
          <input formControlName="guardianName" pInputText placeholder="Enter GuardianName" type="text"/>
        </div>
        <div class="">
          <label for="guardianNationalId">Guardian National Id:</label>
          <input formControlName="guardianNationalId" pInputText placeholder="Enter Guardian National Id" type="number"/>
        </div>
        <div class="">
          <label for="guardianPhone">Guardian Phone Number:</label>
          <input formControlName="guardianPhone" pInputText placeholder="Enter Guardian contact Number" type="number"/>
        </div>
        <div class="">
          <label for="guardianEmail">Guardian Email:</label>
          <input formControlName="guardianEmail" pInputText placeholder="Enter Guardian Email" type="text"/>
        </div>
        <div class="">
          <label for="guardianAddress">Guardian Address:</label>
          <input formControlName="guardianAddress" pInputText placeholder="Enter Guardian Address" type="text"/>
        </div>
        <div class="">
          <label for="guardianProfession">Guardian Profession:</label>
          <input formControlName="guardianProfession" pInputText placeholder="Enter Guardian Profession" type="text"/>
        </div>
        <div class="">
          <label for="guardianIncome">Guardian Income:</label>
          <input formControlName="guardianIncome" pInputText placeholder="Enter Guardian Income" type="number"/>
        </div>
      </div>

      <div class="submit-container">
        <p-button (click)="onSubmit()" label="{{ isEditing ? 'Edit' : 'Add' }}" icon="pi pi-user" styleClass="w-full mx-auto" [disabled]="studentForm.invalid"/>
      </div>
    </form>
  </div>
</div>
